{% extends "layout.html" %}
{% block title %}New {{ item_type }}{% endblock %}
{% block body %}

<script type="text/javascript">
/*
 * add new row with autocomplete input field to given relations table
function addRowToRelationsTable(table_id) {
	var row_content = '<div class="form-inline">'
		row_content += '  <input type="text" id="test" data-provide="typeahead" class="form-control" autocomplete="off" />'
		row_content += '  <a href="#" onclick="" class="btn btn-primary btn-xs" role="button" title="save {{ key }} relation">'      
		row_content += '    <span class="glyphicon glyphicon-ok"></span>'
		row_content += '  </a>'
		row_content += '  <a href="/{{ item_type }}/{{ item.id }}/">Cancel</a>'
		row_content += '</div>'

 	$("#" + table_id).append("<tr><td colspan='4'>" + row_content + "</td></tr>");
}
 */

</script>


  <h2>
    {% if item.name == '' %}
      Create new 
    {% else %}
      Edit
    {% endif %}
    {{ item_type }}</h2>
  <form action="/{{ item_type }}/{{ item.id }}/" method="post">

	<!-- for creating a PUT request -->
  	<input type="hidden" name="_method" value="put" />

  	
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    
    <div class="table-responsive">  
  		<table class="table table-striped table-hover">
		    <tr>
		      <td>id</td>
		      <td>{{ item.id }}</td>
		    </tr>
		    <tr>
		      <td>name</td>
		      <td><input type="text" name="name" value="{{ item.name }}" class="form-control"></td>
		    </tr>
		    <tr>
		      <td>description</td>
		      <td><textarea name="description" cols="60" rows="7" class="form-control">{{ item.description }}</textarea></td>
		    </tr>
		    
		    
		    <tr>
		      <td colspan="2"><b>Relations</b></td>
		    </tr>
		    
		    {%- for key in item.item_type.valid_relations.keys() %}
		    <tr>
		      <td>
	    		{{ key }}
   		      </td>
		      <td>
		        {% if key.endswith('_from') %}
		          {%- for related_item in item.relations.get_related_items_by_relation_name(key) %}
		            <a href="/{{ related_item.split('-')[0] }}/{{ related_item }}/" >{{ related_item }}</a>
	    		  {%- endfor %}
    			{% else %}
		        <!-- {{ item.relations.get_related_items_by_relation_name(key)|safe }} -->
				<input type="text" id="input_{{ key }}" name="{{ key }}" class="demo-default form-control" />
				
				<script type="text/javascript">
					/* @see: https://github.com/brianreavis/selectize.js/issues/15 */				
					var $selectize_{{ key }} = $('#input_{{ key }}').selectize({
					    plugins: {'remove_button': {append: false}},
					    create:       false,
					    hideSelected: true,
					    labelField:   'label',
					    valueField:   'id',
					    searchField:  ['id', 'label'],
					    /* maxItems:     1, */
					    preload:      true,
					    render:       {
					        item: function(data) {
					            return '<div class="item" title="' + escape(data.label) + '"><a href="/' + escape(data.id).split('-')[0] + '/' + escape(data.id) + '/" >' + escape(data.id) +  '</a><div class="remove">&times;</div></div>';
					        }
					    },
					    load: function(query, callback) {
					    	/* console.log("load called"); */
					        $.ajax({
					            url: '/{{ item.item_type.valid_relations[key] }}/json/',
					            dataType: 'json',
					            success: function(data) {
					            	/* console.log(data); */
					                callback(data);
					            }
					        });
					    }				
					});
					
					/* set exiting realtions, needs te e delayed because of aynchronous ajax call */
					setTimeout(function() { $selectize_{{ key }}[0].selectize.setValue({{ item.relations.get_related_items_by_relation_name(key)|safe }}); }, 1000);
				</script>
			    {% endif %}
   		      </td>
		    </tr>
    		{%- endfor %}
		    
 	    </table>
	</div>
    
    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
    <a href="/{{ item_type }}/">Cancel</a>
  </form>
{% endblock %}
