{% extends "layout.html" %}
{% block title %}{{ item_type }}s{% endblock %}
{% block body %}
  <h2>{{ item_type }}s</h2>
  
<!-- <div class="CSSTableGenerator" > -->
  <table class="table" id="items">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th id="description">Bescheibung</th>
      <th>Erstellt von</th>
      <th>Erstellt am</th>
      <th></th>
    </thead>
    {%- for item in items %}
    <tr id="{{ item.id }}">
      <td>{{ item.id }}</td>
      <td class="editable">{{ item.name }}</td>
      <td class="growable">{{ item.description|new_line_to_br|safe }}</td>
      <td>{{ item.createdBy }}</td>
      <td>{{ item.createdAt }}</td>
      <td><a href="javascript:;" title="delete '{{ item.id }}'" class="delete no-underline">x</a></td>
    </tr>
    {%- endfor %}
  </table>
<!-- </div> -->

{% endblock %}
