{% extends "layout.html" %}
{% block title %}{{ item_type }}s{% endblock %}
{% block body %}

<!-- diagram editor for objective matrix -->
<script type="text/javascript">

$(function () {
	
	var graph = new joint.dia.Graph;
	
	var paper = new joint.dia.Paper({
	    el: $('#myholder'),
	    width: 800,
	    height: 200,
	    model: graph
	});
	
	var rect = new joint.shapes.basic.Rect({
	    position: { x: 100, y: 30 },
	    size: { width: 100, height: 30 },
	    attrs: { rect: { fill: 'blue' }, text: { text: 'my box', fill: 'white' } }
	});
	
	var rect2 = rect.clone();
	rect2.translate(300);
	
	var link = new joint.dia.Link({
	    source: { id: rect.id },
	    target: { id: rect2.id }
	});
	
	var paperSmall = new joint.dia.Paper({
	    el: $('#myholder-small'),
	    width: 600,
	    height: 100,
	    model: graph
	});
	paperSmall.scale(.5);
	paperSmall.$el.css('pointer-events', 'none');

	graph.addCells([rect, rect2, link]);
	
/* 	graph.on('all', function(eventName, cell) {
	    console.log(arguments);
	});
 */	
	
});

</script>

<!-- necessary for glossary tooltips -->
<div class="content">

  <h1 class="page-header">Objectives Chart</h1>
  	<div id="myholder"> </div>
  	<div id="myholder-small"> </div>


  <h2>{{ item_type }}s table</h2>
  
<!-- @see: http://getbootstrap.com/css/#tables -->
<div class="table-responsive">  
  <table class="table table-striped table-hover" id="items">
    <thead>
      <th>ID</th>
      <th id="name">name</th>
      <th id="description">description</th>
      <th>links</th>
      <th>created <br/> by / at</th>
      <th>changed <br/> by / at</th>
      <th></th>
    </thead>
    {%- for item in items %}
    <tr id="{{ item.id }}">
      <td><a href="/{{ item.item_type.name }}/{{ item.id }}/" title='edit "{{ item.id }}"'>{{ item.id }}</a></td>
      <td class="growable">{{ item.name }}</td>
<!--  <td class="growable">{{ item.description|new_line_to_br|safe }}</td> -->
      <td class="growable">{{ item.description }}</td>
      <td>
	    {%- for related_item in item.relations.existing_relations %}
	    	<a href="/{{ related_item.split('-')[0] }}/{{ related_item }}/">{{ related_item }}</a>
    	{%- endfor %}
      </td>
      <td>{{ item.meta_data.createdBy }} / {{ item.meta_data.createdAt }}</td>
      <td>{{ item.meta_data.changedBy }} / {{ item.meta_data.changedAt }}</td>
      <td>
		  <a href="javascript:;" class="delete btn btn-default btn-sm" role="button" title='delete "{{ item.id }}"'>      
  			<span class="glyphicon glyphicon-remove"></span>
  		  </a>
	  </td>
    </tr>
    {%- endfor %}
  </table>
</div>

</div>

{% endblock %}
