{% extends "layout.html" %}
{% block title %}{{ item_type }}s{% endblock %}
{% block body %}

<!-- diagram editor for objective matrix -->
<script type="text/javascript">

$(function () {
	
	var graph = new joint.dia.Graph;
	
	var ClickableView = joint.dia.ElementView.extend({
	    pointerdown: function () {
	        this._click = true;
	        joint.dia.ElementView.prototype.pointerdown.apply(this, arguments);
	    },
	    pointermove: function () {
	        this._click = false;
	        joint.dia.ElementView.prototype.pointermove.apply(this, arguments);
	    },
	    pointerup: function (evt, x, y) {
	        if (this._click) {
	            this.notify('cell:click', evt, x, y);
	        } else {
	            joint.dia.ElementView.prototype.pointerup.apply(this, arguments);
	        }
	    }
	});
	
	var paper = new joint.dia.Paper({
	    el: $('#myholder'),
	    width: 800,
	    height: 300,
	    gridSize: 10,
	    model: graph
	});

	var stencil = new joint.shapes.basic.Rect({
	    position: { x: 0, y: 0 },
	    size: { width: 800, height: 50 },
	    attrs: { rect: { fill: 'yellow', style:{'pointer-events':'none'} }, text: { text: 'stencil', fill: 'grey' }, interactive: false }
	});	
		
	var rectTemplate = new joint.shapes.basic.Rect({
	    position: { x: 10, y: 10 },
	    size: { width: 100, height: 30 },
	    attrs: { rect: { fill: 'red' }, text: { text: 'my box', fill: 'white' } }
	});

	var linkTemplate = new joint.dia.Link({
	    source: { x: 120, y: 25 },
	    target: { x: 220, y: 25 },
	    attrs: {}
	});

	linkTemplate.attr({
	    //'.connection': { stroke: 'black', style:{'pointer-events':'none'} },
	    //'.connection-wrap': { style:{'pointer-events':'none'} },
	    '.connection': { stroke: 'red' },
	    '.marker-source': { fill: 'black', d: 'M 10 0 L 0 5 L 10 10 z' },
	    '.marker-target': { fill: 'black', d: 'M 10 0 L 0 5 L 10 10 z' }
	});
	
	stencil.embed(rectTemplate);
	stencil.embed(linkTemplate);
	
	var rect = new joint.shapes.basic.Rect({
	    position: { x: 100, y: 80 },
	    size: { width: 100, height: 30 },
	    attrs: { rect: { fill: 'blue' }, text: { text: 'my box', fill: 'white' } }
	});
	
	var rect2 = rect.clone();
	rect2.translate(300);
	
	var link = new joint.dia.Link({
	    source: { id: rect.id },
	    target: { id: rect2.id }
	});
	
	graph.addCells([stencil, rectTemplate, linkTemplate, rect, rect2, link]);
	
	paper.on('cell:pointerdown',
		function(cellView, evt, x, y) { 
			// console.log('cell view ' + cellView.model.id + ' was clicked');
			// duplicate clicked element within the stencil to keep it 
			if (y < 50) {
				cellNew = cellView.model.clone();
				graph.addCell(cellNew);
				console.log(cellNew);
				if (cellNew instanceof joint.dia.Link) {
					cellNew.set('source', { x: 120, y: 125 })
					cellNew.set('target', { x: 220, y: 125 })
					cellView.set('vertices', [])
				} else {
					cellNew.translate(0,100);
				}
			}
	   /*  $('#message').text('click!'); */
	});
	paper.on('cell:pointerup', function () {
		//console.log('pointerup!');
	    // $('#message').text('pointerup!');
	});
	paper.on('blank:pointerup', function () {
		//console.log('blank!');
	    // $('#message').text('blank!');
	});
/*  	graph.on('batch:start', function(eventName, cell) {
	    console.log(arguments);
		cellNew = cell.clone();
		graph.addCell(cellNew);
	});
 */	
/*  	graph.on('all', function(eventName, cell) {
	    console.log(arguments);
	});
 */	
});

</script>

<!-- necessary for glossary tooltips -->
<div class="content">

  <h1 class="page-header">Objectives Chart</h1>
<!--   	<div id="stencil" style="width:800px; height:50px; border: 1px solid #b3b2b2;"> </div> -->
  	<div id="myholder" style="width:800px; height:300px; border: 1px solid #b3b2b2;"> </div>


  <h2>{{ item_type }}s table</h2>
  
<!-- @see: http://getbootstrap.com/css/#tables -->
<div class="table-responsive">  
  <table class="table table-striped table-hover" id="items">
    <thead>
      <th>ID</th>
      <th id="name">name</th>
      <th id="description">description</th>
      <th>links</th>
      <th>created <br/> by / at</th>
      <th>changed <br/> by / at</th>
      <th></th>
    </thead>
    {%- for item in items %}
    <tr id="{{ item.id }}">
      <td><a href="/{{ item.item_type.name }}/{{ item.id }}/" title='edit "{{ item.id }}"'>{{ item.id }}</a></td>
      <td class="growable">{{ item.name }}</td>
<!--  <td class="growable">{{ item.description|new_line_to_br|safe }}</td> -->
      <td class="growable">{{ item.description }}</td>
      <td>
	    {%- for related_item in item.relations.existing_relations %}
	    	<a href="/{{ related_item.split('-')[0] }}/{{ related_item }}/">{{ related_item }}</a>
    	{%- endfor %}
      </td>
      <td>{{ item.meta_data.createdBy }} / {{ item.meta_data.createdAt }}</td>
      <td>{{ item.meta_data.changedBy }} / {{ item.meta_data.changedAt }}</td>
      <td>
		  <a href="javascript:;" class="delete btn btn-default btn-sm" role="button" title='delete "{{ item.id }}"'>      
  			<span class="glyphicon glyphicon-remove"></span>
  		  </a>
	  </td>
    </tr>
    {%- endfor %}
  </table>
</div>

</div>

{% endblock %}
